<div class="course-details-container" *ngIf="course; else loadingOrError">
    <h2>{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <p class="price">Price: ${{ course.price }}</p>
    <p>Teacher: {{ teacherName }}</p> <img [src]="course.imageUrl" alt="{{ course.title }}" *ngIf="course.imageUrl">
    <p class="description">{{ course.description | slice:0:100 }}...</p>
  
    <div class="enroll-button-container">
      <button class="enroll-button" (click)="handlePayment(course.id,course.price)">Enroll Now</button>
    </div>
  </div>

 <!-- Modal -->
<div *ngIf="showModal" class="modal-backdrop">
  <div class="modal">
    <h3>Confirm Payment</h3>
    <p>Are you sure you want to pay Ksh {{ selectedCoursePrice }} for this course?</p>
    <button (click)="handleConfirmedPayment()">Yes, Pay</button>
    <button (click)="showModal = false">Cancel</button>
  </div>
</div>
  
  <ng-template #loadingOrError>
    <div class="loading-error-container" *ngIf="errorMessage; else loading">
      <p class="error">{{ errorMessage }}</p>
    </div>
    <ng-template #loading>
      <div class="loading-error-container">
        <p>Loading course details...</p>
      </div>
    </ng-template>
  </ng-template>

  <h3>Your Payment History</h3>
<ul *ngIf="paymentHistory.length > 0; else noPayments">
  <li *ngFor="let payment of paymentHistory">
    Paid Ksh {{ payment.amount }}  on {{ payment.paymentDate | date:'medium' }} {{ payment.status }} 
    <em>Status:</em> {{ payment.status }}<br />
    <small> {{ payment.userName }} ({{ payment.userEmail }})</small>
    <p>{{ payment.courseDescription }}</p>
  </li>
</ul>
<ng-template #noPayments>
  <p>You haven't made any payments yet.</p>
</ng-template>
