<div *ngIf="classData" class="class-container">
  <h2 class="class-title">{{ classData.title || 'Untitled Class' }}</h2>
  <p class="class-description">{{ classData.Description }}</p>

  <div class="video-wrapper">
    <ng-container *ngIf="selectedVideo; else selectPrompt">
      <video class="video-player" controls autoplay>
        <source [src]="selectedVideo.url" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </ng-container>
    <ng-template #selectPrompt>
      <div class="video-placeholder">Select a video to play 👇</div>
    </ng-template>
  </div>

  <h3 class="video-list-title">📺 Class Videos:</h3>
  <ul class="video-list">
    <li
      *ngFor="let video of classData.videos"
      (click)="playVideo(video)"
      class="video-item"
    >
      ▶ {{ video.title }}
    </li>
  </ul>
</div>
